<h1>Stupid Coaching</h1>

<div id="question">
    <%= @question %>
    <p>- You</p>
  </div>

  <div id="answers">
  <%= @answer %>
  <p>- Your Coach</p>
  </div>

  <div id="Link">
  <%= link_to "Ask a new question", ask_path %>
  </div>
